Repository iyulab/FluxIndex, changes with the labels that .github/labeler.yml gives for each.
All labels: core, sdk, storage, ai-providers, cache, extensions, documentation, tests, samples, ci-cd, dependencies, version-change

.github/labeler.yml:

# Configuration for PR labeler action
# https://github.com/actions/labeler

core:
  - changed-files:
    - any-glob-to-any-file:
      - src/FluxIndex.Core/**/*
      - src/FluxIndex.Infrastructure/**/*

sdk:
  - changed-files:
    - any-glob-to-any-file: src/FluxIndex.SDK/**/*

storage:
  - changed-files:
    - any-glob-to-any-file:
      - src/FluxIndex.Storage.*/**/*

ai-providers:
  - changed-files:
    - any-glob-to-any-file:
      - src/FluxIndex.AI.*/**/*

cache:
  - changed-files:
    - any-glob-to-any-file:
      - src/FluxIndex.Cache.*/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file:
      - src/FluxIndex.Extensions.*/**/*

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**/*

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*
      - '**/*.Tests/**/*'

samples:
  - changed-files:
    - any-glob-to-any-file:
      - samples/**/*

ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - .azuredevops/**/*

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.csproj'
      - '**/packages.lock.json'
      - Directory.Build.props
      - Directory.Packages.props

version-change:
  - changed-files:
    - any-glob-to-any-file:
      - src/Directory.Build.props

cicd
  .github/workflows/ci-build.yml
  .github/workflows/cicd.yml
  .github/workflows/dependency-update.yml
  .github/workflows/nuget-publish.yml
  .github/workflows/pr-validation.yml
Labels: ci-cd

update docs
  README.md
  docs/api-reference.md
  docs/architecture.md
  docs/getting-started.md
  docs/installation.md
Labels: documentation

cicd
  .github/dependabot.yml
  .github/workflows/cicd.yml
Labels: ci-cd

cicd
  .github/workflows/cicd.yml
Labels: ci-cd

cicd
  .github/workflows/cicd.yml
Labels: ci-cd

cicd
  .github/dependabot.yml
Labels: ci-cd

cicd
  .github/dependabot.yml
  src/Directory.Packages.props
Labels: ci-cd

cicd
  src/FluxIndex.AI.OpenAI/OpenAIConfiguration.cs
  src/FluxIndex.AI.OpenAI/Services/OpenAIEmbeddingService.cs
  src/FluxIndex.Minimal/FluxIndexClient.cs
  src/FluxIndex.Storage.PostgreSQL/PostgreSQLVectorStore.cs
Labels: storage, ai-providers

cicd
  FluxIndex.sln
  src/FluxIndex.Minimal/FluxIndex.Minimal.csproj
  src/FluxIndex.Minimal/FluxIndexClient.cs
  src/FluxIndex.Minimal/packages.lock.json
  src/FluxIndex.Storage.PostgreSQL/PostgreSQLVectorStore.cs
  src/FluxIndex.Storage.SQLite/SQLiteVectorStore.cs
Labels: storage, dependencies

cicd
  samples/RealQualityTest/SimpleQualityTest.cs
  src/FluxIndex.Extensions.FileFlux/FileFluxIntegration.cs
  src/FluxIndex.Extensions.FileFlux/FluxIndex.Extensions.FileFlux.csproj
  src/FluxIndex.Extensions.FileFlux/Indexing/SmartIndexer.cs
  src/FluxIndex.Extensions.FileFlux/Retrieval/ChunkAwareRetriever.cs
  src/FluxIndex.Extensions.FileFlux/packages.lock.json
Labels: extensions, samples, dependencies

cicd
  samples/RealQualityTest/SimpleQualityTest.cs
  src/FluxIndex.AI.OpenAI/OpenAIConfiguration.cs
  src/FluxIndex.AI.OpenAI/Services/OpenAIEmbeddingService.cs
  src/FluxIndex.Cache.Redis/RedisCacheService.cs
  src/FluxIndex.Cache.Redis/ServiceCollectionExtensions.cs
  src/FluxIndex.Storage.PostgreSQL/PostgreSQLVectorStore.cs
  src/FluxIndex.Storage.SQLite/SQLiteVectorStore.cs
Labels: storage, ai-providers, cache, samples

cicd
  src/FluxIndex.Core/Application/Services/MetadataEnrichmentService.cs
  src/FluxIndex.Core/Application/Services/SearchService.cs
  src/FluxIndex.Core/Application/Services/SelfRAG/SelfRAGService.cs
  src/FluxIndex.Core/Domain/Entities/Document.cs
  src/FluxIndex.Storage.PostgreSQL/PostgreSQLVectorStore.cs
Labels: core, storage

cicd
  src/FluxIndex.Core/Application/Services/SearchService.cs
  src/FluxIndex.Core/Domain/Entities/Document.cs
  src/FluxIndex.SDK/Configuration/FluxIndexOptions.cs
  src/FluxIndex.SDK/Extensions/ServiceCollectionExtensions.cs
  src/FluxIndex.SDK/FluxIndexClient.cs
  src/FluxIndex.SDK/FluxIndexClientBuilder.cs
  src/FluxIndex.SDK/Indexer.cs
  src/FluxIndex.SDK/Retriever.cs
  src/FluxIndex.Storage.SQLite/SQLiteVectorStore.cs
Labels: core, sdk, storage

cicd
  src/FluxIndex.AI.OpenAI/Services/OpenAIEmbeddingService.cs
  src/FluxIndex.AI.OpenAI/Services/OpenAITextCompletionService.cs
  src/FluxIndex.SDK/FluxIndex.SDK.csproj
  src/FluxIndex.SDK/FluxIndexClientBuilder.cs
Labels: sdk, ai-providers, dependencies

cicd
  Directory.Packages.props
  samples/RealQualityTest/packages.lock.json
  src/FluxIndex.AI.OpenAI/FluxIndex.AI.OpenAI.csproj
  src/FluxIndex.AI.OpenAI/ServiceCollectionExtensions.cs
  src/FluxIndex.AI.OpenAI/Services/OpenAIEmbeddingService.cs
  src/FluxIndex.AI.OpenAI/Services/OpenAITextCompletionService.cs
  src/FluxIndex.AI.OpenAI/packages.lock.json
  src/FluxIndex.Extensions.FileFlux/Retrieval/ChunkAwareRetriever.cs
  src/FluxIndex.Extensions.FileFlux/packages.lock.json
  src/FluxIndex.SDK/packages.lock.json
  src/FluxIndex/packages.lock.json
Labels: sdk, ai-providers, extensions, samples, dependencies

Refactor SmartIndexer to use IndexingOptions and update metadata handling
  src/FluxIndex.Extensions.FileFlux/Indexing/SmartIndexer.cs
  tests/FluxIndex.Core.Tests/packages.lock.json
Labels: extensions, tests, dependencies

fix
  FluxIndex.sln
  samples/FileFluxIndexSample/PerformanceQualityTest.cs.disabled
  samples/FileFluxIndexSample/Program.cs.original
  samples/FileFluxIndexSample/Services/FullBenchmark.cs.disabled
  samples/FileFluxIndexSample/Services/OpenAIImageToTextService.cs.disabled
  samples/FileFluxIndexSample/Services/OpenAITextCompletionService.cs.disabled
  samples/FileFluxIndexSample/Services/PerformanceTester.cs.disabled
  samples/FileFluxIndexSample/Services/QualityTester.cs.disabled
  samples/FileFluxIndexSample/packages.lock.json
  samples/PackageTestSample/NuGet.config
  samples/PackageTestSample/packages.lock.json
  src/FluxIndex.Core/Application/Interfaces/IQueryOrchestrator.cs.disabled
  src/FluxIndex.Core/Application/Interfaces/ITwoStageRetriever.cs.disabled
  src/FluxIndex.Core/Application/Services/AdaptiveSearch/AdaptiveSearchService.cs.disabled
  src/FluxIndex.Core/Application/Services/AdvancedRerankingService.cs.disabled
  src/FluxIndex.Core/Application/Services/BenchmarkModels.cs.disabled
  src/FluxIndex.Core/Application/Services/FluxIndexBenchmark.cs.disabled
  src/FluxIndex.Core/Application/Services/QueryAnalysis/QueryComplexityAnalyzer.cs.disabled
  src/FluxIndex.Core/Application/Services/QueryOrchestration/LocalQueryTransformer.cs.disabled
  src/FluxIndex.Core/Application/Services/QueryOrchestration/SemanticKernelOrchestrator.cs.disabled
  src/FluxIndex.Core/Application/Services/RedisSemanticCache.cs.disabled
  src/FluxIndex.Core/Application/Services/Reranking/CohereReranker.cs.disabled
  src/FluxIndex.Core/Application/Services/Reranking/CompositeReranker.cs.disabled
  src/FluxIndex.Core/Application/Services/Reranking/OnnxCrossEncoderReranker.cs.disabled
  src/FluxIndex.Core/Application/Services/TwoStageRetriever.cs.disabled
  src/FluxIndex.Extensions.FileFlux/Adapters/DynamicChunkAdapter.cs
  src/FluxIndex.Extensions.FileFlux/FileFluxIntegration.cs
  src/FluxIndex.Extensions.FileFlux/FluxIndex.Extensions.FileFlux.csproj
  src/FluxIndex.Extensions.FileFlux/Pipeline/FileFluxIntegrationPipeline.cs
  src/FluxIndex.Extensions.FileFlux/Retrieval/ChunkAwareRetriever.cs
  src/FluxIndex.Storage.PostgreSQL/packages.lock.json
  tests/FluxIndex.Core.Tests/packages.lock.json
Labels: core, storage, extensions, tests, samples, dependencies

updates...
  src/FluxIndex.Cache.Redis/RedisCacheService.cs
  src/FluxIndex.Core/Application/Interfaces/ISemanticCache.cs
  src/FluxIndex.Core/Application/Services/SearchService.cs
  src/FluxIndex.Core/Domain/Entities/Document.cs
  src/FluxIndex.Core/Domain/ValueObjects/DocumentMetadata.cs
  src/FluxIndex.Extensions.FileFlux/Adapters/DynamicChunkAdapter.cs
  src/FluxIndex.Extensions.FileFlux/Adapters/MetadataExtractor.cs
  src/FluxIndex.Extensions.FileFlux/Indexing/SmartIndexer.cs
  src/FluxIndex.Extensions.FileFlux/Pipeline/FileFluxIntegrationPipeline.cs
  src/FluxIndex.Extensions.FileFlux/Retrieval/ChunkAwareRetriever.cs
  src/FluxIndex.SDK/Indexer.cs
  src/FluxIndex.Storage.PostgreSQL/packages.lock.json
Labels: core, sdk, storage, cache, extensions, dependencies

v0.1.2
  Directory.Build.props
Labels: dependencies

Complete cleanup: remove backup dirs, optimize imports, clean project structure
  src/FluxIndex.SDK/FluxIndex.Infrastructure.csproj
  src/FluxIndex/Application/Configuration/QueryOrchestratorOptions.cs
  src/FluxIndex/Application/Interfaces/IDocumentRepository.cs
  src/FluxIndex/Application/Interfaces/IEmbeddingService.cs
  src/FluxIndex/Application/Interfaces/IVectorStore.cs
  src/FluxIndex/FluxIndex.Core.csproj
Labels: sdk, dependencies

v0.1.3
  Directory.Build.props
  Directory.Packages.props
  README.md
  docs/architecture.md
  docs/getting-started.md
  test/PackageIntegrationTest/PackageIntegrationTest.csproj
  test/PackageIntegrationTest/Program.cs
  test/PackageIntegrationTest/nuget.config
  test/PackageIntegrationTest/packages.lock.json
Labels: documentation, dependencies

v0.1.4
  Directory.Build.props
  Directory.Packages.props
  README.md
  docs/architecture.md
  docs/getting-started.md
  samples/FileFluxIndexSample/FileFluxIndexSample.csproj
  samples/FileFluxIndexSample/PerformanceTest.csproj
  samples/FileFluxIndexSample/StandaloneSample.csproj
  samples/PackageTestSample/PackageTestSample.csproj
  samples/RealQualityTest/RealQualityTest.csproj
  samples/RealQualityTest/packages.lock.json
  src/FluxIndex.AI.OpenAI/FluxIndex.AI.OpenAI.csproj
  src/FluxIndex.AI.OpenAI/packages.lock.json
  src/FluxIndex.Cache.Redis/FluxIndex.Cache.Redis.csproj
  src/FluxIndex.Cache.Redis/packages.lock.json
  src/FluxIndex.Extensions.FileFlux/packages.lock.json
  src/FluxIndex.SDK/FluxIndex.SDK.csproj
  src/FluxIndex.SDK/packages.lock.json
  src/FluxIndex.Storage.PostgreSQL/FluxIndex.Storage.PostgreSQL.csproj
  src/FluxIndex.Storage.PostgreSQL/packages.lock.json
  src/FluxIndex.Storage.SQLite/FluxIndex.Storage.SQLite.csproj
  src/FluxIndex.Storage.SQLite/packages.lock.json
  src/FluxIndex/FluxIndex.csproj
  src/FluxIndex/packages.lock.json
  test/PackageIntegrationTest/PackageIntegrationTest.csproj
  test/PackageIntegrationTest/packages.lock.json
Labels: sdk, storage, ai-providers, cache, extensions, documentation, samples, dependencies

1
  Directory.Build.props
  Directory.Packages.props
  FluxIndex.sln
  LICENSE
  README.md
  TASKS.md
  samples/RealQualityTest/packages.lock.json
  samples/WebFluxSample/Program.cs
  samples/WebFluxSample/WebFluxSample.csproj
  samples/WebFluxSample/packages.lock.json
  src/FluxIndex.AI.OpenAI/packages.lock.json
  src/FluxIndex.Cache.Redis/packages.lock.json
  src/FluxIndex.Extensions.WebFlux/FluxIndex.Extensions.WebFlux.csproj
  src/FluxIndex.Extensions.WebFlux/FluxIndexClientBuilderExtensions.cs
  src/FluxIndex.Extensions.WebFlux/FluxIndexClientExtensions.cs
  src/FluxIndex.Extensions.WebFlux/Models/WebFluxModels.cs
  src/FluxIndex.Extensions.WebFlux/README.md
  src/FluxIndex.Extensions.WebFlux/Services/BasicWebContentProcessor.cs.bak
  src/FluxIndex.Extensions.WebFlux/Services/SimpleWebContentProcessor.cs
  src/FluxIndex.Extensions.WebFlux/WebFluxDocumentProcessor.cs
  src/FluxIndex.Extensions.WebFlux/WebFluxIndexer.cs
  src/FluxIndex.Extensions.WebFlux/WebFluxServiceExtensions.cs
  src/FluxIndex.Extensions.WebFlux/packages.lock.json
  src/FluxIndex.SDK/FluxIndexClientBuilder.cs
  src/FluxIndex.SDK/packages.lock.json
  src/FluxIndex.Storage.PostgreSQL/packages.lock.json
  src/FluxIndex.Storage.SQLite/packages.lock.json
  src/FluxIndex/packages.lock.json
Labels: sdk, storage, ai-providers, cache, extensions, documentation, samples, dependencies

3
  TASKS.md
  docs/research.txt
  docs/tasks/Phase3.1_MetadataExtraction_Tasks.md
  docs/tasks/Phase6.1_SemanticCaching_Tasks.md
  src/FluxIndex.AI.OpenAI/Extensions/FluxIndexQueryTransformationExtensions.cs
  src/FluxIndex.AI.OpenAI/Extensions/QueryTransformationServiceCollectionExtensions.cs
  src/FluxIndex.AI.OpenAI/Services/HyDEService.cs
  src/FluxIndex.AI.OpenAI/Services/OpenAIQueryTransformationService.cs
  src/FluxIndex.AI.OpenAI/Services/QuOTEService.cs
  src/FluxIndex.Core/Application/Interfaces/IQueryTransformationService.cs
  src/FluxIndex.Core/Application/Options/QueryTransformationOptions.cs
  src/FluxIndex.Core/Domain/Models/MetadataModels.cs
  src/FluxIndex.Core/Domain/Models/QueryTransformationModels.cs
  tests/FluxIndex.AI.OpenAI.Tests/Extensions/QueryTransformationServiceCollectionExtensionsTests.cs
  tests/FluxIndex.AI.OpenAI.Tests/FluxIndex.AI.OpenAI.Tests.csproj
  tests/FluxIndex.AI.OpenAI.Tests/Integration/QueryTransformationPerformanceTests.cs
  tests/FluxIndex.AI.OpenAI.Tests/Services/HyDEServiceTests.cs
  tests/FluxIndex.AI.OpenAI.Tests/Services/OpenAIQueryTransformationServiceTests.cs
  tests/FluxIndex.AI.OpenAI.Tests/Services/QuOTEServiceTests.cs
  tests/FluxIndex.AI.OpenAI.Tests/packages.lock.json
Labels: core, ai-providers, documentation, tests, dependencies

4
  src/FluxIndex.Cache.Redis/Configuration/RedisSemanticCacheOptions.cs
  src/FluxIndex.Cache.Redis/Extensions/ServiceCollectionExtensions.cs
  src/FluxIndex.Cache.Redis/FluxIndex.Cache.Redis.csproj
  src/FluxIndex.Cache.Redis/RedisCacheService.cs
  src/FluxIndex.Cache.Redis/RedisOptions.cs
  src/FluxIndex.Cache.Redis/ServiceCollectionExtensions.cs
  src/FluxIndex.Cache.Redis/Services/RedisSemanticCacheService.cs
  src/FluxIndex.Cache.Redis/packages.lock.json
  src/FluxIndex.Core/Application/Interfaces/ISemanticCacheService.cs
  src/FluxIndex.Core/Domain/Models/DocumentChunk.cs
  src/FluxIndex.SDK/FluxIndexClientBuilder.cs
  src/FluxIndex.SDK/packages.lock.json
  tests/FluxIndex.AI.OpenAI.Tests/Integration/RealOpenAIIntegrationTests.cs
  tests/FluxIndex.Cache.Redis.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  tests/FluxIndex.Cache.Redis.Tests/FluxIndex.Cache.Redis.Tests.csproj
  tests/FluxIndex.Cache.Redis.Tests/Services/RedisSemanticCacheServiceTests.cs
Labels: core, sdk, cache, tests, dependencies

5
  README.md
  TASKS.md
  src/FluxIndex.Core/Application/Interfaces/IVectorIndexBenchmark.cs
  src/FluxIndex.Core/Application/Services/VectorIndexAutoTuner.cs
  src/FluxIndex.Core/Application/Services/VectorIndexPerformanceMonitor.cs
  src/FluxIndex.Storage.PostgreSQL/Extensions/ServiceCollectionExtensions.cs
  src/FluxIndex.Storage.PostgreSQL/Services/PostgreSQLVectorIndexBenchmark.cs
  tests/FluxIndex.Core.Tests/Services/VectorIndexAutoTunerTests.cs
  tests/FluxIndex.Storage.PostgreSQL.Tests/Integration/VectorIndexBenchmarkTests.cs
Labels: core, storage, documentation, tests

6
  samples/RealQualityTest/HybridSearchQualityTest.cs
  samples/RealQualityTest/Program.cs
  samples/RealQualityTest/RealQualityTest.csproj
  samples/RealQualityTest/SimpleHybridTest.cs
  samples/RealQualityTest/packages.lock.json
  src/FluxIndex.Cache.Redis/packages.lock.json
  src/FluxIndex.Core/Application/Interfaces/IHybridSearchService.cs
  src/FluxIndex.Core/Application/Interfaces/ISparseRetriever.cs
  src/FluxIndex.Core/Application/Interfaces/IVectorStore.cs
  src/FluxIndex.Core/Application/Services/BM25SparseRetriever.cs
  src/FluxIndex.Core/Application/Services/HybridSearchService.cs
  src/FluxIndex.Core/Domain/Models/SearchModels.cs
  src/FluxIndex.Core/FluxIndex.Core.csproj
  src/FluxIndex.Core/packages.lock.json
  src/FluxIndex.SDK/Extensions/ServiceCollectionExtensions.cs
  src/FluxIndex.SDK/FluxIndexClient.cs
  src/FluxIndex.SDK/FluxIndexClientBuilder.cs
  src/FluxIndex.SDK/packages.lock.json
Labels: core, sdk, cache, samples, dependencies

7
  TASKS.md
  docs/FLUXINDEX_RAG_SYSTEM.md
  samples/RealQualityTest/SimpleTest.csproj
  samples/RealQualityTest/SimpleTestRunner.cs
  samples/RealQualityTest/StandaloneHybridTest.cs
  samples/RealQualityTest/packages.lock.json
  standalone-test/QuickHybridTest.cs
  standalone-test/QuickTest.csproj
  standalone-test/packages.lock.json
Labels: documentation, samples, dependencies
